<?xml version="1.0"?>
<launch>
    <!-- Define output argument -->
    <arg name="output" default="screen"/>

    <!-- Load the config file -->
    <rosparam file="$(find butia_quiz)/config/ros.yaml" command="load"/>

    <!-- Init the butia quiz node -->
    <node name="butia_quiz_node" pkg="butia_quiz" type="butia_quiz_node.py" output="$(arg output)"/>
</launch>